.pagetop{
  border-bottom: 1px dashed;
  margin-bottom: 25px;
}

.sun {
  background-color: tomato;
}

.sat {
  background-color: cornflowerblue;
}

/* 吹き出しメイン部 */
.tolk {
  position: relative;
  display: inline-block;
  margin: 10px 0px 10px 10px;
  padding: 10px 10px;
  min-width: 150px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.tolk button{
  text-align: right;
  float: right;
}


/* 吹き出し口中 */
/* .tolk:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
} */

/* 吹き出し口部分 */
/* .tolk:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
} */

.tolk p{
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed;
}

.mail {
  width:100px;
  height:100px;
  opacity: 0.8;
  background-color:white;
  padding: 10px;
  border: 1px solid black;
  margin: 0 0 0 auto;
}

.icon {
  font-size: 65px;
}